.input {
  font-size: 1em;
  border: 2px solid rgba(100, 100, 100, 0.2);
  padding: 0.6em;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: 0.4s;

  &::placeholder {
    color: rgba(100, 100, 100, 0.4);
  }

  &:focus {
    border-color: #C964D2;
  }

  &--error {
    border-color: red;
  }
}