.form-row {
  width: 100%;
  margin: 0.6em 0;

  &__label {
    width: 100%;

    &--required:after {
      content: '*';
      color: 'red';
    }
  }

  &__inputs {
    display: flex;
    flex-direction: row;

    &--inline {
      display: inline-flex;
    }
  }

  &__label-text {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    display: inline-block;
  }

  &__error {
    color: red;
    font-size: 0.8em;
    margin: 0.1em 0px 0px 1em;
  }
}