.tabbar {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0.6em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  &:hover {
    color: black;
  }

  &--active {
    border-bottom: 4px solid #412C73;
    color: black;
  }
}