$sbg-color-primary: rgba(255, 255, 255, 0.2);
$sfg-color-primary: #ffffff;

$sbg-color-secondary: rgba(65, 44, 115, 0.2);
$sfg-color-secondary: #412c73;

.spinner {
  border-style: solid;
  transform: translateZ(0);
  animation: spinner-rotation .8s infinite linear;
  border-radius: 50%;
  margin: 0 auto;

  &:after {
    border-radius: 50%;
  }

  &--color-primary {
    border-color: $sbg-color-primary $sbg-color-primary $sfg-color-primary;
  }

  &--color-secondary {
    border-color: $sbg-color-secondary $sbg-color-secondary $sfg-color-secondary;
  }

  &--size-small, &--size-small:after {
    width: 1.2em;
    height: 1.2em;
    border-width: 0.2em;
  }

  &--size-medium, &--size-medium:after {
    width: 2em;
    height: 2em;
    border-width: 0.3em;
  }

  &--size-large, &--size-large:after {
    width: 2.5em;
    height: 2.5em;
    border-width: 0.4em;
  }
}

@keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
