.sidebar {
  background-color: #412C73;
  height: 100%;

  &__menu {
    margin: 0;
    padding-left: 0;
  }
}

.sidebar-link {
  &__nav-link {
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.6em;
    position: relative;
    transition: .2s ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:before {
      content: "";
      background-color: #C964D2;
      height: 100%;
      width: 0;
      left: 0;
      top: 0;
      position: absolute;
      transition: .2s ease-out;
    }

    &--active {
      background-color: rgba(0, 0, 0, 0.3);

      &:before {
        width: 0.4em;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__icon {
    margin: 0 0.8em 0 0.5em;
  }
}